$body-color:#FFFFFF;
$primary-color: #F0F0F0;
$navigation: #9D9D9D;
$hover: #7C7C7C;
$links: #383838;
$grey: #DDDDDD;
$white: #FFFFFF;
$green: #4CAF50;
$blue: #2196F3;
$red: #f44336;
$dark-grey:#808080;
