.section{
	font-family: $website-font;
	display:flex;
	justify-content: center;
	margin-top:40px;

	.sidebar{
		width:30%;
		margin:0 40px;
		background-color: $body-color;
		.logo{
			&-image{
				width:100%;
			}
		}
		.navigation{
			background-color: $navigation;
			margin-top:-4px;
			padding: 10px 0;
			font-size:20px;
			&-list{
				margin:0;
				list-style-type: none;
				padding:10px 0;
			}
			&-list-links{
				text-align:center;
				margin:20px;
				height:30px;
			}
			a{
				text-decoration: none;
				color: $links;
			}
		}
		.social-media{
			display: flex;
			background-color: $primary-color;
			justify-content: center;
			padding:20px;
			height:75px;
			&-links{
				list-style-type: none;
				margin:10px;
			}
			&-icons{
				height:50px;
			}
		}
	}

	.main{
		width:55%;
		background-color: $primary-color;
		padding:5px 50px 150px 50px;

		.experience{
			.skill-bar{
				width: 100%;
				background-color: $grey;
			}
			.skills{
				text-align: right;
				padding-right: 20px;
				line-height: 40px;
				color: $white;
			}
			.html {width: 90%; background-color: $green;}
			.css {width: 80%; background-color: $blue;}
			.js {width: 65%; background-color: $red;}
			.php {width: 60%; background-color: $dark-grey;}
			&-history{
				display:flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			&-item{
				width:49%;
				height: 70px;
			}
			&-item span{
				font-style:italic;
				font-size:20px;
			}
		}
		.grid{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			&-photos{
				width:33%;
			}
			&-photo{
				height:365px;
			}
		}
		.contact{
			.input{
				width:100%;
				font-size:50px;
				height:75px;
				margin: 20px 0;
				border: hidden;
			}
			.input-text{
				width:100%;
				font-size:50px;
				height:225px;
				margin: 20px 0;
				border:none;
				resize: none;
			}
			.button{
				float:right;
				height:75px;
				width:300px;
				cursor:pointer;
				background-color: $dark-grey;
				font-size:40px;
			}
		}
	}
}

